{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">{{ title }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Temperature</th>
                        <th>Humidity</th>
                        <th>Weather</th>
                        <th>Wind</th>
                    </tr>
                </thead>
                <tbody>
                    {% if city %}
                        {% for item in data["list"] %}
                            <tr>
                                <td>{{ item["dt_txt"] }}</td>
                                <td>{{ item["main"]["temp"] }}°C</td>
                                <td>{{ item["main"]["humidity"] }}%</td>
                                <td><div id="weather"><img src="http://openweathermap.org/img/w/{{ item["weather"][0]["icon"] }}.png"></img> {{ item["weather"][0]["main"] }}</div></td>
                                <td>{{ '%.2f' % (item["wind"]["speed"]*3.6) }} km/h ({{ item["wind"]["deg"] }} deg)</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>  
</div>
{% endblock %}